#pcod{
    padding: 0px 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    background-image: linear-gradient(180deg, #f88379, #ff6961);    height: 100%;

    height: 100%;

}
.pcod-left-col{
    flex-basis: 50%;

}
.pcod-left-col img{
    width: 500px;
    height: 100%;
    padding-left: 90px;
}
.pcod-right-col{
    flex-basis: 50% ;
    text-align: left;

}
.pcod-text1{
    max-width: 300px;
    font-size: 30px;
    margin-left: 100px;
    display: inline-block;
    color: #ebedee;
    margin-bottom: 0px;
    padding-bottom: 0;
    margin-top: 0;
    font-family: 'Candal', sans-serif;
    

}
.pcod-text1 h1{
margin-bottom: 0px;
}
.pcod-text1 h3{
   color: #ebedee;
   font-size: 30px;
    }
.pcod-text{
    padding-top: 0;
    max-width: 500px;
    margin-left: 100px;
    display: inline-block;
   
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
    font-family: 'Cormorant Garamond', serif;

   
}
.pcod-text p{
    margin-top: 0;
    color: #ebedee;

}
.pcod-text1 p{
    margin-top: 0;
    color: black;
}
.line {
    border-top: 2px dotted #bbb;
}